body{
    background-color: rgb(39, 187, 224);
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}
.contenedor{    
    max-height: 500px;
    max-width: 500px;
    display: flex;
    flex-flow: row wrap;
    border: 5px solid #c00808;
    padding: 10px;
    box-sizing: border-box;
    gap: 10px;
    justify-content: center;
}
.contador{
    font-size: 30px;
}
.tiempo{
    font-size: 30px;
}
.caja{
    max-width: 100px;
    max-height: 100px;    
}
#hide{
    background-image: url("../image/hide.png");
}
#a {
    background-image: url("../image/1.png");
}
#b {
    background-image: url("../image/2.png");
}
#c {
    background-image: url("../image/3.png");
}
#d {
    background-image: url("../image/4.png");
}
#e {
    background-image: url("../image/5.png");
}
#f {
    background-image: url("../image/6.png");
}
#g {
    background-image: url("../image/7.png");
}
#h {
    background-image: url("../image/8.png");
}
